{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <ul>
        {% for listing in listings %}
            <a href="{% url 'listing' id=listing.id %}">
                <h2>
                    {{ listing.title }}
                </h2>
                {% if listing.image %}
                    <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
                {% endif %}
                <div>
                    {{ listing.description }}
                </div>
            </a>
        {% endfor %}
    </ul>
{% endblock %}